<!DOCTYPE html>
<html>
	<!-- ===		SCRIPTS		=============================================================================================================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	<!-- ===		STYLES		=============================================================================================================================================== -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<!-- ================================================================================================================================================================ -->
	
	<head>

	</head>
	<!-- ================================================================================================================================================================ -->
	
	<!-- ===		BODY			=============================================================================================================================================== -->
	<body>

		<div class="container">

			<header>
				 <h1>City Gallery</h1>
			</header>
		
			<!--<nav>
				<ul>
					<li><a href="#">London</a></li>
					<li><a href="#">Paris</a></li>
					<li><a href="#">Tokyo</a></li>
				</ul>
			</nav>-->

			<article>

				<table>
    			<tr>
      			<td>Currency</td> <td>Balance</td> <td>Pending</td> <td>Available</td>
    			</tr>
  				{% for currency in wallet %}
    				<tr>
      				{% for item in currency %}
      				<td>{{item}}</td>
      				{% endfor %}
    				</tr>
  				{% endfor %}
  			</table>

			</article>

			<footer id="footer"></footer>

		</div>

	</body>
	<!-- ================================================================================================================================================================ -->


	<!-- ===		POST SCRIPTS		=============================================================================================================================================== -->
	
<script type="text/javascript">$(window).ready( function() {
    var time = 5
    setInterval( function() {
        time--;
        $('#footer').html(time);
        if (time === 0) {
            location.reload();
        }    
    }, 1000 );
});
</script>


</html>
